/*
 * Aplos version 1.0.0 (https://aplos.gxbs.me/)
 * Copyright 2023-2024 Gabriel Cozma/Gabs
 * Licensed under MIT (https://github.com/GabsEdits/aplos/src/branch/main/LICENSE)
 
 * Based on Vitepress (https://vitepress.dev) & inspired Duckquill (https://daudix.codeberg.page/duckquill)
*/

@import "../../custom.scss";
@import "common.scss";
@import "medias.scss";
@import "cards.scss";
@import "color.scss";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "cv05" 1;
  scroll-behavior: smooth;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }

  body {
    font-family: InterVariable, sans-serif;
  }
}

body {
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
  background-color: var(--color-background);
  color: var(--color-text);
}

main {
  width: 60vw;
  scroll-behavior: smooth;
  margin-top: 7%;
  margin-bottom: 4%;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  max-width: 60.1875rem;
}

::selection {
  color: var(--color-background);
  background-color: var(--color-accent);
}

:target {
  scroll-margin-top: 15vh;
  animation: highlight-in-out 800ms 0.4s;
  color: var(--color-accent);
  text-shadow: var(--color-background-second) 0 0 0.25rem,
    var(--color-accent) 0 0 0.75rem;

  @keyframes highlight-in-out {
    50% {
      color: var(--color-accent);
      font-weight: bolder;
      letter-spacing: 0.25rem;
      font-style: italic;
    }
  }
}

html {
  scrollbar-color: var(--color-accent) rgba(0, 0, 0, 0);
  accent-color: var(--color-accent);
  scroll-behavior: smooth !important;
}

header {
nav {
  background-color: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2.5rem;
  background-color: var(--color-header);
  border: 0.4px solid var(--color-border);
  z-index: 9999;
  padding: 0.0625rem 1.5625rem;
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      display: inline-block;

      a {
        display: block;
        text-align: center;
        color: var(--color-text-secondary);
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: -0.045rem;
        margin: 0 0.3125rem;
        transform: scale(1);
        font-size: 14px;
        transition: color 0.7s ease, transform 100ms ease;

        &:hover {
          color: var(--color-accent);
        }

        &:active {
          color: var(--color-accent);
          transform: scale(0.9);
        }

        &.active {
          color: var(--color-accent);
        }
      }
    }
  }
}

  #title {
    margin-right: 2.1875rem;
    position: relative;

    * {
      font-size: 16px;
      letter-spacing: -0.0625rem;
      font-weight: 800;
      color: var(--color-text);
      margin: 0.5rem 0.3125rem 0.5rem 0.3125rem;
      transform: scale(1);
      transition: transform 100ms ease text-decoration 0.4s ease;

      &:hover {
        text-decoration: underline 0.075rem solid var(--color-accent);
      }

      &:active {
        transform: scale(0.9);
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: 110%;
      width: 0.0625rem;
      background-color: var(--color-border);
      top: 0;
      right: -1.25rem;
    }
  }

  .fa-brands {
    font-size: 15px;
  }
}

footer {
  position: relative;
  bottom: 0;
  max-width: 100%;
  right: 0;
  padding: 20px;
  margin: 0 10px 10px 10px;
  border-top: 1px solid var(--color-border);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 963px;

  a {
    text-decoration: underline 1.4px;
    color: var(--color-accent);
    font-weight: 700;
  }

  p {
    margin: 0;
    &:first-child {
      margin-top: 10px;
    }
  }

  #copyright,
  #copyleft,
  #powered {
    font-weight: 500;

    b {
      font-weight: 700;
    }
  }

  #powered {
    color: var(--color-text-secondary);
    font-weight: 500;
  }

  small {
    margin-top: 0.625rem;
  }

  #author {
    font-weight: 900;
  }
}

.lang {
  color: var(--color-text-secondary);
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  position: absolute;
  right: 20px;
  margin-top: 10px;
}

/* Other */

.table-of-contents {
  display: none; // I will hide it for now
  background-color: none;
  backdrop-filter: blur(0.625rem);
  -webkit-backdrop-filter: blur(0.625rem);
  overflow: hidden;
  position: fixed;
  top: 9.375rem;
  left: 10%;
  border-radius: 1rem;
  z-index: 9999;
  padding: 0.625rem 1.5625rem !important;
  text-align: left;

  ul {
    list-style-type: decimal;
    color: var(--color-text-secondary);
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0 0 0 0.9375rem;
    padding: 0;

    li {
      text-align: left;
      a {
        display: block;
        text-align: left;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.875rem;
        letter-spacing: -0.045rem;
        margin: 0 0.3125rem;
        transform: scale(1);
        font-size: 0.875rem;
        transition: color 0.7s ease, transform 100ms ease;

        &:hover {
          color: var(--color-accent);
        }

        &:active {
          color: var(--color-accent);
          transform: scale(0.9);
        }

        &.active {
          color: var(--color-accent);
        }
      }
    }
  }
}

button.copy {
  direction: ltr;
  position: absolute;
  display: none;
  top: 12px;
  right: 12px;
  z-index: 3;
  border: 1px solid var(--vp-code-copy-code-border-color);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: var(--vp-code-copy-code-bg);
  opacity: 0;
  cursor: pointer;
  background-image: var(--vp-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}

.header-anchor {
  display: none; // I will hide it for now
}
